<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 
	<typeHandlers >
		<typeHandler javaType="boolean" jdbcType="CHAR"
			handler="com.zkbc.core.framework.mybatis.BooleanTypeHandler" />
	</typeHandlers>
	 -->
   
    <!-- <mappers>
        <package name="com.zz.zkbc.core.dao.map"/>
        <package name="net.zkbc.p2p.fep.mapper"/>
    </mappers> -->
</configuration>