<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bilibala.wechat.dao.WechatMenuDao">
	
	<select id="queryMenuById" resultType="com.bilibala.wechat.model.pojo.WechatMenu">
		select * from ${schema}.wechat_menu where id=#{id}
	</select>
	
	<select id="queryMenuListByParentId" resultType="com.bilibala.wechat.model.pojo.WechatMenu">
		select * from ${schema}.wechat_menu where parentid=#{parentid}
	</select>
</mapper>